 h3.homecontent{
        font-size: 222%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        }

div.hot-data{
    text-align: center;
    margin-top:2em;

}